.LoginForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    border-radius: 8px;
    padding: 20px;
    background: var(--inverted-bg-color);
}

.input {
  width: 100%;
  margin-bottom: 20px; 
}

.loginBtn {
    margin-top: 10px;
    width: 100%;
}