.Navbar {
  height: 70px;
  display: flex;
  align-items: center;
}

.Container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 25px;
  gap: 45px;
}

.Links {
  font-size: var(--font-size-l);
  margin: 25px 0 0;
  padding: 0;
}

.aboutLink {
  margin-right: 16px;
}

.theme {
  display: flex;
  gap: 15px;
  margin: 27px 0 0;
  align-items: center;
}

.lang {
  margin-bottom: 9px;
}
