.Navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  box-shadow: 0 7px 9px rgb(0 0 0 / 10%);
}

.Container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 25px;
  gap: 45px;
}

.Links {
  display: flex;
}

.aboutLink {
  margin-right: 16px;
}

.theme {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.lang {
  margin-left: 12px;
  margin-bottom: 7px;
}
