.Button {
  cursor: pointer;
  color: var(--primary-color);
  padding: 6px 10px;
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.background {
  background: var(--bg-color);
  color: var(--primary-color);
  border: none;
}

.backgroundInverted {
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
  border: none;
}

.outline {
  padding: 12px 40px;
  background: var(--inverted-bg-color);
  color: var(--inverted-primary-color);
}