.app.dark {
    --bg-color: #061418;
    --inverted-bg-color: #556f81;
    --primary-color: #F7F7F7;
    --secondory-color: #686C6D;
    --inverted-primary-color: #313232;
    --inverted-secondory-color: #E6F0F2;
}