.app.light {
    --bg-color: #EFEFEF;
    --inverted-bg-color: #7296A4;

    --primary-color: #313232;
    --secondory-color: #E6F0F2;
    --inverted-primary-color: #F7F7F7;
    --inverted-secondory-color: #686C6D;
}