.app.light {
    --bg-color: #fff;
    --inverted-bg-color: #fff;
    --primary-color: #000;
    --secondory-color: #930000;
    --inverted-primary-color: #fff;
    --inverted-secondory-color: #fff;
}