.Applink {
  color: var(--primary-color);
  text-decoration: none;
  transition: color .35s ease;
}

.Applink:hover {
  color: var( --inverted-secondory-color)
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--inverted-primary-color);
}